bin/*.sh text eol=lf
bin/*.ps1 text eol=crlf
bin/*.mjs text eol=lf
bin-dev/*.sh text eol=lf
bin-dev/*.ps1 text eol=crlf
.demo-docs/server-setup/*.sh text eol=lf
.demo-docs/server-setup/*.ps1 text eol=crlf
.demo-docs/server-setup/*.mjs text eol=lf
